.example-block{

	height: 400px;
	box-shadow: 2px 2px 10px #000;
	margin: 15px;
	background: url(../img/1.png) no-repeat local center /800px auto, url(../img/1.png) no-repeat local left /500px auto, url(../img/1.png) no-repeat local right /300px auto ;

}

.list{
	margin: 30px;
	padding: 10px 0px 10px 0px;
	font-size: 20px;

}

.list>li{
	background: url(..//img/2.png) no-repeat left /auto 70%;
	padding-left: 15px;
}
