
p{
	font-family: Arial, "Hevelvetical Neue", Hevelvetical , sans-serif;
	font-size: 15px;
	font-style: oblique;
	font-weight: 100;
	color: #333;
	text-align: justify;
	text-decoration: underline;
	text-shadow: 1px 1px 1px black;
	text-transform: capitalize;
	text-indent: 50px;
	letter-spacing: 5px;
	line-height: 50px;
	white-space: normal;
	word-spacing: 5px;
}



